# Dependencias
node_modules/
vendor/

# Builds / salida
dist/
build/
out/
*.log

# Entornos y secretos
.env
.env.local
.env.*.local

# Sistema operativo
Thumbs.db
Desktop.ini
.DS_Store

# Editores / IDE
.vscode/
.idea/
*.swp
*.suo
*.user
